<!--The content below is only a placeholder and can be replaced.-->
<H1 style="text-align: center">Random Movies</H1>
<div *ngIf="title == null">
    <H2>Error processing data, please refresh the page to get a new random movie</H2>
</div>
<section *ngIf="title != null">
  <div style="text-align:left">
    <h2>
      {{ title }}!
    </h2>
    <div *ngIf="imageUrl != null">
      <img width="400" alt="Rendering..." [src]="imageUrl">
    </div>
  </div>
  <h3>Average Rating: {{ avgRating }}</h3>
  <voting (refresh)="loadMovie()" (refreshEmpty)="loadEmptyMovie()" [movieTitle]="title"></voting>
</section>
